
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-plain">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <th>
                                Name
                            </th>
                            <th>
                                Position
                            </th>
                            <th>
                                Salary
                            </th>
                            <th>
                                Country
                            </th>
                            <th>
                                City
                            </th>
                            <th>
                                Selection
                            </th>

                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Dakota Rice
                                    </td>
                                    <td>
                                        Manager
                                    </td>
                                    <td>
                                        50000$
                                    </td>
                                    <td>
                                        Niger
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-primary sel">Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Rose Lisa
                                    </td>
                                    <td>
                                        Staff
                                    </td>
                                    <td>
                                        1000$
                                    </td>
                                    <td>
                                        Niger
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-primary sel">Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Rose Lisa
                                    </td>
                                    <td>
                                        Staff
                                    </td>
                                    <td>
                                        1000$
                                    </td>
                                    <td>
                                        Niger
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-primary sel">Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Rose Lisa
                                    </td>
                                    <td>
                                        Staff
                                    </td>
                                    <td>
                                        1000$
                                    </td>
                                    <td>
                                        Niger
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-primary sel">Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Rose Lisa
                                    </td>
                                    <td>
                                        Staff
                                    </td>
                                    <td>
                                        1000$
                                    </td>
                                    <td>
                                        Niger
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-primary sel">Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Rose Lisa
                                    </td>
                                    <td>
                                        Staff
                                    </td>
                                    <td>
                                        1000$
                                    </td>
                                    <td>
                                        Niger
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-primary sel">Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Rose Lisa
                                    </td>
                                    <td>
                                        Staff
                                    </td>
                                    <td>
                                        1000$
                                    </td>
                                    <td>
                                        Niger
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-primary sel">Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Rose Lisa
                                    </td>
                                    <td>
                                        Staff
                                    </td>
                                    <td>
                                        1000$
                                    </td>
                                    <td>
                                        Niger
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-primary sel">Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Rose Lisa
                                    </td>
                                    <td>
                                        Staff
                                    </td>
                                    <td>
                                        1000$
                                    </td>
                                    <td>
                                        Niger
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-primary sel">Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Rose Lisa
                                    </td>
                                    <td>
                                        Staff
                                    </td>
                                    <td>
                                        1000$
                                    </td>
                                    <td>
                                        Niger
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-primary sel">Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Rose Lisa
                                    </td>
                                    <td>
                                        Staff
                                    </td>
                                    <td>
                                        1000$
                                    </td>
                                    <td>
                                        Niger
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-primary sel">Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Rose Lisa
                                    </td>
                                    <td>
                                        Staff
                                    </td>
                                    <td>
                                        1000$
                                    </td>
                                    <td>
                                        Niger
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-primary sel">Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Rose Lisa
                                    </td>
                                    <td>
                                        Staff
                                    </td>
                                    <td>
                                        1000$
                                    </td>
                                    <td>
                                        Niger
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-primary sel">Delete</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Rose Lisa
                                    </td>
                                    <td>
                                        Staff
                                    </td>
                                    <td>
                                        1000$
                                    </td>
                                    <td>
                                        Niger
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-primary sel">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
   

