


<h2>Index</h2>

@using Models.EF ;
@model IEnumerable<PRODUCT>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    //khởi tao control webgrit
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 5);
}
@Html.ActionLink("Thêm Sản Phẩm ", "TaoMoi", null, new { @class = "btn btn-success" })
<br />
<br />
@* thể hiện dữ liệu thông qua webGrit *@
@grid.GetHtml(
    tableStyle: "Gridtable",  // class css cho thẻ table
    headerStyle: "GridHead",    //class css cho các tiêu đề của table
    footerStyle: "GridFooter",      //class cho phần phân trang phía dưới
    rowStyle: "GridRow",                //class cho các row lẻ
    alternatingRowStyle: "griAltRow",   // class cho các row chắn xen kẽ
    columns: grid.Columns(
    grid.Column("ProductID", "Mã Sản Phẩm "),
    grid.Column("ProductName", "Tên Sản Phẩm"),
    grid.Column("ProductDescription", "Mô tả ", format: p => @Html.Raw(p.ProductDescription)),
    grid.Column("ShowImage", " Hình Ảnh ", format: p => @Html.Raw("<img src=\"../Content/HinhAnhSP/" + p.ShowImage + "\">")),
    grid.Column(format: p => Html.ActionLink("CHỈNH SỬA", "ChinhSua", new { id = p.ProductID })),
    grid.Column(format: p => Html.ActionLink("Xóa", "Xoa", new { id = p.ProductID }))

))
<style>
    .Gridtable {
        width: 80%;
        height: 80%;
        border: 5px solid green;
        padding: 100px;
    }

    .GridHead td {
        border: 1px solid #999999;
        font-family: 'Segoe UI' 'Footlight MT';
    }

    .GridHead {
        background-color: green;
        border: 1px solid #999999;
    }

        .GridHead > th > a {
            color: #fff;
        }

    .GridFoodter {
        font-weight: bold;
        display: flex;
    }

    .header {
        margin-top: 100px;
        background-color: green;
    }

    .ShowImage {
        width: 300px;
        height: 300px;
    }

    .GridRow {
        border: 1px solid green;
    }

    .griAltRow {
        border: 1px solid green;
    }

    .GridRow td img {
        width: 200px;
        height: 200px;
    }

    .griAltRow td img {
        width: 200px;
        height: 200px;
    }

    .GridRow td a {
        text-align: center;
        color: orangered;
        text-transform: uppercase;
    }

    .griAltRow td a {
        text-align: center;
        color: orangered;
        text-transform: uppercase;
    }

    .GridRow td a :hover {
    }
</style>


