
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-plain">
                <div class="card-header">
                    @Html.ActionLink(" ADD RESOURCE", "Create", "Resource", null, new { @class = "click" })
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                            <th>
                                Name
                            </th>
                            <th>
                                Country
                            </th>
                            <th>
                                City
                            </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Dakota Rice
                                    </td>
                                    <td>
                                        Niger
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-primary sel"><a href="addnl.html">Edit</a></button><button class="btn btn-outline-primary sel"><a href="addnl.html">Delete</a></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Dakota Rice
                                    </td>
                                    <td>
                                        Niger
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-primary sel"><a href="addnl.html">Edit</a></button><button class="btn btn-outline-primary sel"><a href="addnl.html">Delete</a></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Dakota Rice
                                    </td>
                                    <td>
                                        Niger
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-primary sel"><a href="addnl.html">Edit</a></button><button class="btn btn-outline-primary sel"><a href="addnl.html">Delete</a></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Dakota Rice
                                    </td>
                                    <td>
                                        Niger
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-primary sel"><a href="addnl.html">Edit</a></button><button class="btn btn-outline-primary sel"><a href="addnl.html">Delete</a></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Dakota Rice
                                    </td>
                                    <td>
                                        Niger
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-primary sel"><a href="addnl.html">Edit</a></button><button class="btn btn-outline-primary sel"><a href="addnl.html">Delete</a></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Dakota Rice
                                    </td>
                                    <td>
                                        Niger
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-primary sel"><a href="addnl.html">Edit</a></button><button class="btn btn-outline-primary sel"><a href="addnl.html">Delete</a></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Dakota Rice
                                    </td>
                                    <td>
                                        Niger
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-primary sel"><a href="addnl.html">Edit</a></button><button class="btn btn-outline-primary sel"><a href="addnl.html">Delete</a></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Dakota Rice
                                    </td>
                                    <td>
                                        Niger
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-primary sel"><a href="addnl.html">Edit</a></button><button class="btn btn-outline-primary sel"><a href="addnl.html">Delete</a></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Dakota Rice
                                    </td>
                                    <td>
                                        Niger
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-primary sel"><a href="addnl.html">Edit</a></button><button class="btn btn-outline-primary sel"><a href="addnl.html">Delete</a></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Dakota Rice
                                    </td>
                                    <td>
                                        Niger
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-primary sel"><a href="addnl.html">Edit</a></button><button class="btn btn-outline-primary sel"><a href="addnl.html">Delete</a></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Dakota Rice
                                    </td>
                                    <td>
                                        Niger
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-primary sel"><a href="addnl.html">Edit</a></button><button class="btn btn-outline-primary sel"><a href="addnl.html">Delete</a></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Dakota Rice
                                    </td>
                                    <td>
                                        Niger
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-primary sel"><a href="addnl.html">Edit</a></button><button class="btn btn-outline-primary sel"><a href="addnl.html">Delete</a></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Dakota Rice
                                    </td>
                                    <td>
                                        Niger
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-primary sel"><a href="addnl.html">Edit</a></button><button class="btn btn-outline-primary sel"><a href="addnl.html">Delete</a></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Dakota Rice
                                    </td>
                                    <td>
                                        Niger
                                    </td>
                                    <td>
                                        Oud-Turnhout
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-primary sel "><a href="addnl.html">Edit</a></button><button class="btn btn-outline-primary sel"><a href="addnl.html">Delete</a></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

